.Elevate-section {
    background-color: #262626;
}

.Elevate-section-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.section-intro {
    display: flex;
    padding: 150px 400px 100px 162px;
    flex-direction: column;
    align-items: flex-start;
    gap: 14px;
    align-self: stretch;
    border-bottom: 1px solid #262626;
    background-color: linear-gradient(96deg, #262626 -26.82%, rgba(38, 38, 38, 0.00) 40.46%);
}

.section-title {
    align-self: stretch;
    color: #FFF;
    font-family: Urbanist;
    font-size: 48px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%;
}

.section-description {
    align-self: stretch;
    color:#999;
    font-family: Urbanist;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%;
}

.services-list {
    display: flex;
    padding: 20px;
    align-items: center;
    gap: 20px;
    align-self: stretch;
    border: 1px solid #262626;
    background-color: #141414;
    box-shadow: 0px 0px 0px 10px #191919;
}

.service-card {
    display: flex;
    padding: 40px 20px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex: 1 0 0;
    border-radius: 12px;
    border: 1px solid #262626;
    background-color: #1A1A1A;
    position: relative;
}

.main-icon {
    width: 34px;
    height: 34px;
}

.arrow-icon {
    width: 34px;
    height: 34px;
    position: absolute;
    right: 20px;
    top: 20px;
}

.service-title {
    align-self: stretch;
    color: #FFF;
    text-align: center;
    font-family: Urbanist;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%;
}
