body{
    background-color: #262626;
    display: flex;
padding: 100px 162px;
align-items: center;
gap: 250px;
align-self: stretch;
}
h2{color: var(--Absolute-White, #FFF);
    align-self: stretch;
    font-family: Urbanist;
    font-size: 48px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%;}
    p{
        color: var(--Grey-60, #999);
font-family: Urbanist;
font-size: 18px;
font-style: normal;
font-weight: 500;
line-height: 150%;
align-self: stretch;
    }
    div button{display: flex;
        padding: 18px 24px;
        align-items: center;
        gap: 8px;
        border-radius: 10px;
        background: var(--Purple-60, #703BF7);}
        button{color: var(--Absolute-White, #FFF);
            font-family: Urbanist;
            font-size: 18px;
            font-style: normal;
            font-weight: 500;
            line-height: 150%; }
